@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-nav {
    background: linear-gradient(
      153deg,
      rgba(255, 255, 255, 0.12) -65.62%,
      rgba(255, 255, 255, 0.04) 83.28%
    );
  }
  .shadow-nav {
    box-shadow: rgba(204, 219, 232, 0.109) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.081) -3px -3px 6px 1px inset;
  }
  .nav-transition {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .shadow-box {
    box-shadow: rgba(204, 219, 232, 0.05) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.033) -3px -3px 6px 1px inset;
  }
}

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: all !important;
}
